<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="stderr" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%-5level [%thread] %date{ISO8601} %file:%line %message%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="stderr"/>
    </root>
</configuration>
